<div 'players'>
<% @players.each do |player| %>
<h4><%= link_to player.name, player_path(player) %></h4>
  <p>Team: <%= player.team.country %></p>
  <p>Position: <%= player.position %></p>
  <p>Skill: <%= player.skill %></p>
<img src="<%= player.photo_url %>" alt="">

<% end %>

</div>
