<h2>Make a New Team</h2>


<ul>
  <% @team.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
  <% end %>
</ul>

<%= form_for(@team) do |f| %>
  <%= f.label(:country) %>
  <%= f.text_field(:country) %>

  <%= f.label(:flag_url) %>
  <%= f.text_field(:flag_url) %>

  <%= f.label(:manager) %>
  <%= f.text_field(:manager) %>

  <%= f.label(:group_id) %>
  <%= f.text_field(:group_id) %>
  
  <%= f.submit %>
<% end %>

<%= link_to('Back to teams', teams_path) %>