<h3><%= @pokemon.name %></h3>
<img src="<%= @pokemon.image_url %>"
<p>-<%= @pokemon.classification %>-</p>
<p>Pokedex ID: <%= @pokemon.display_id %></p>
<p>Type: <%= @pokemon.species %> Height: <%= @pokemon.height %></p>
<p>HP: <%= @pokemon.hp %> ATK:<%= @pokemon.attack %> DEF:<%= @pokemon.defense %> SPD:<%= @pokemon.speed %></p>
<p>Happiness: <%= @pokemon.happiness %></p>
<p>Move List: <%= @pokemon.moves %></p>
