<h2>Edit Artist</h2>

<% form_for(@artist) do |f| %>
  <%= f.label(:name) %>
  <%= form.text_field(:name) %>

  <%= f.label(:photo_url) %>
  <%= form.text_field(:photo_url) %>

  <%= f.label(:nationality) %>
  <%= form.text_field(:nationality) %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back to Artist', artist_path(@artist) %>
