<!DOCTYPE html>
<html>
<head>
  <title>Moma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Moma</h1>
  <%= link_to 'Home', welcome_path %>
  <%= link_to 'Artists', artists_path %>
  <%= link_to 'Paintings', paintings_path %>
</header>

<%= yield %>

</body>
</html>
