<%= link_to 'Back to Trailer', trailer_path(@trailer) %>
<% if @trailer.errors.any? %>
  <%= @trailer.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
<% end %>

<%= form_for @trailer do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :embed_url %>
    <%= f.text_field :embed_url %>
  </div>

  <%= f.submit %>
<% end %>

<%= button_to "Delete", trailer_path(@trailer), method: :delete %>
