<div id="grumble">
  <h3>{{title}}</h3>
  <img src="{{avatar}}">
  <p>
    {{author}}
  </p>
  <p>
    {{content}}
  </p>
  <button class="edit">Edit</button>
  <button class="delete">Delete</button>
  <div class="grumble-edit-form">
    <input name="author" value="{{author}}">
    <input name="title" value="{{title}}">
    <input name="avatar" value="{{avatar}}">
    <input name="content" value="{{content}}">
    <button name="button" class="edit-confirm">Submit</button>
  </div>
</div>
