<h2><%= @song.title %></h2>
<h3><%= Artist.find(@song.artist_id).name %></h3>
<h3><%= @song.album %></h3>
<h3><%= @song.price %></h3>
<a href="<%= @song.preview_url %>">Preview</a>

<form action="/songs/<%= @song.id %>/delete" method="post">
  <input type="submit" value="Delete Song">
</form>
