<h2><%= @pokemon.name %></h2>
<img src="<%= @pokemon.image_url %>">
<h5>HP: <%= @pokemon.hp %></h5>
<h5>Attack: <%= @pokemon.attack %></h5>
<h5>Defense: <%= @pokemon.defense %></h5>
<h5>Speed: <%= @pokemon.speed %></h5>
<h5>Moves: <%= @pokemon.moves %></h5>
<h5>Height: <%= @pokemon.height %></h5>
<h5>Happiness: <%= @pokemon.happiness %></h5>
<h5>Classification: <%= @pokemon.classification %></h5>

<a href="/pokemons">BACK</a>
