<div id="edit-form">
  <input type="text" id="title" value="{{title}}">
  <input type="text" id="author"  value="{{author}}">
  <input type="text" id="content" value="{{content}}">
  <input type="text" id="image" value="{{image}}">
  <input type="text" id="avatar" value="{{avatar}}">

  <button class='update'>Add Grumble</button>
</div>
