<div class="tweed">
  <p class="thetweed"><%= @tweed.content %></p>
  <img src="<%= @tweed.image_url %>">
  <div class="tweedmeta">Tweed by <%= @tweed.author %> at <%= @tweed.timestamp %></div>
  <a href="<%= @tweed.id %>/edit">Edit tweed</a>
</div>
