<h2>Edit Team <%= @team.country.capitalize %></h2>

<%= form_for @team do |f| %>
  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :flag_url %>
  <%= f.text_field :flag_url %>

  <%= f.label :manager_name %>
  <%= f.text_field :manager_name %>

  <%= f.submit("Edit Team") %>
<% end %>

<%= link_to("Delete Team", team_path(@team), method: :delete) %>
