
<h2><%= @pokemon.name %></h2>
<h3><%= @pokemon.hp %></h3>
<h3><%= @pokemon.attack %></h3>
<h3><%= @pokemon.defense %></h3>
<h3><%= @pokemon.speed %></h3>
<h3><%= @pokemon.moves %></h3>
<h3><%= @pokemon.classification %></h3>
<h3><%= @pokemon.species %></h3>
<h3><%= @pokemon.height %></h3>
<h3><%= @pokemon.happiness %></h3>
<img src="<%= @pokemon.image_url %>">
