<h3>Search results</h3>

<ul>
 <% @search_results.each do |result| %>
     <p><%= result['Title'] %>
		 </p>
     <p>
       <%= result['Year'] %>
     </p>
     <img src="<%= result['Poster'] %>">
     <p>
       <%= result['Actors'] %>
     </p>
     <p>
       <%= result['Plot'] %>
     </p>
   <% end %>
</ul>
