<h2><%= @movie.title %></h2>
<p><%= @movie.plot %></p>
<img src="<%= @movie.poster_url %>">
<br>

<%= link_to('Back to Movies', movies_path) %> //
<%= link_to('Edit', edit_movie_path(@movie)) %> //
<%= link_to('Delete', movie_path(@movie), { :method => :delete }) %>
