<div class="product" id="<%= dom_id(product) %>">
  <p class="name"> <%= product.name %> </p>
  <p class="quantity"> <%= product.quantity %> </p>
  <p class="price"> <%= product.price %> </p>
  <p class="category"> <%= product.category %> </p>
</div>
