<h3>{{title}}</h3>
<div class="grumble-image">
  <img src="{{image}}" alt="">
</div>
<div class="avatar">
  <img src="{{avatar}}" alt="">
</div>
<div class="grumble-info">
  <p>{{content}}</p>
  <p>{{author}}</p>
  <button class="delete-button">Delete</button>
</div>