<br>Pokemon: <%= @pokemon.name %><br>

<img src="<%= @pokemon.img %>"><p>
HP: <%= @pokemon.hp %><br>
Attack: <%= @pokemon.attack %><br>
Defense: <%= @pokemon.defense %><br>
Speed: <%= @pokemon.speed %><br>
Moves: <%= @pokemon.speed %><br>
Classification: <%= @pokemon.classification %><br>
Species: <%= @pokemon.species %><br>
Height: <%= @pokemon.height %><br>
Happiness: <%= @pokemon.happiness %><p>
<a href='/pokemons'>Back</a>
