<div>
  <h1>{{title}}</h1>
  <img src="{{image}}">
  <p>
    {{content}}
  </p>
  <div class="avatar">{{avatar}}</div>
  <div>Grumbled by: {{author}}</div>
  <button class="delete" name="button">Delete</button>
</div>
