<h2>Edit this artist below:</h2>

<%= form_for(@artist) do |f| %>
<%= f.label(:name) %>
<%= f.text_field(:name) %>

<%= f.label(:photo_url) %>
<%= f.text_field(:photo_url) %>

<%= f.label(:nationality) %>
<%= f.text_field(:nationality) %>

<%= f.label(:birthday) %>
<%= f.text_field(:birthday) %>

<%= f.submit("Submit Edits") %>

<% end %>

<p><%= link_to("Delete this artist", artists_path(@artist), {method: :delete})%></p>
<p><%= link_to("(Back to All Artists)", artists_path) %></p>
