<h2>Edit <%= @paintings.title %></h2>


<%= form_for @paintings do |f|  %>
  <%= f.label :title %><br>
  <%= f.text_field :title, :size => "50" %><br>
  <%= f.label :year_painted %><br>
  <%= f.text_field :year_painted %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, :size => "50x15" %><br>
  <%= f.submit %>

<% end %>



<%= link_to("Back to #{@paintings.title}", painting_path(@paintings)) %>
