<h1>Name: <%= @pokemons.name%></h1>
<img src="<%=@pokemons.img_url %>"><br>
<p><strong>ID:</strong> <%= @pokemons.id %></p>

<h3>Stats:</h3>
<li>HP: <%= @pokemons.hp %></li>
<li>Attack: <%= @pokemons.attack %></li>
<li>Defense: <%= @pokemons.defense %></li>
<li>Speed: <%= @pokemons.speed %></li>

<h3>Type:</h3>
<p>Species: <%= @pokemons.species %></p>

<h3>Miscellaneous:</h3>
<p>Classification: <%= @pokemons.classification %></p>
<p>Height: <%= @pokemons.height %></p>
<p>Happiness: <%= @pokemons.happiness %></p>
