<h3><%= @pokemon.name %></h3>
<div class="content-block">
  <img src="<%= @pokemon.img %>" alt="" />
  <div class="stats">
    <p>
      Attack: <%= @pokemon.attack %>
    </p>
    <p>
      Defense: <%= @pokemon.defense %>
    </p>
    <p>
      Speed: <%= @pokemon.speed %>
    </p>
    <p>
      Moves: <%= @pokemon.moves %>
    </p>
    <p>
      Classification: <%= @pokemon.classification %>
    </p>
    <p>
      Species: <%= @pokemon.species %>
    </p>
    <p>
      Height: <%= @pokemon.height %>
    </p>
    <p>
      Happiness: <%= @pokemon.happiness %>
    </p>
  </div>
</div>
