<h2><%= @actor.name %></h2>

<p>Featured Movie:

  <%= link_to("#{@actor.movie.title}", movie_path(@actor.movie)) %>

</p>

<div class="artist_photo">
  <img src="<%= @actor.photo_url %>">
</div>

<p>
  <%= link_to('Back to Actors', actors_path) %>
  <%= link_to('Edit Actor', edit_actor_path(@actor))%>
</p>
