<h1><%= @player.name %></h1>
<h3><%= @player.position %></h3>
<h3><%= @player.skill_level %></h3>
<img src="<%= @player.photo_url %>">

<%= link_to('Edit', edit_player_path(@player)) %>
<%= link_to('Delete', player_path(@player), method: :delete) %>
