<!DOCTYPE html>
<html>
<head>
  <title>WorldcupfevrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

=======
  <img src="http://i.huffpost.com/gen/1162765/thumbs/r-BRAZIL-WORLD-CUP-LOGO-large570.jpg?6">
  <h1>World Cup Fev.r</h1>
  <%= link_to('Home', root_path) %> |
  <%= link_to('Groups', groups_path) %> |
  <%= link_to('Teams', teams_path) %> |
  <%= link_to('Players', players_path) %> |
  <%= link_to('About', about_path) %><br><br>
>>>>>>> e19f55e4a7ca67689d418fc425b1bb4930419cfa
<%= yield %>

</body>
</html>
