<div class='card' id='{{id}}'>
  <span class='remove'>X</span>
  <h4 class='title'>{{title}}</h4>
  <span>{{author}}</span>
  <div class='image'>
    <img src="{{image_url}}" alt="" />
  </div>
  <p class='content'>{{content}}</p>
  <a href="#" class='category'>{{category}}</a>
</div>
