<center><div id="show_img">
  <p> <%= @image.caption %> </p>
  <img src="<%= @image.image_url %>" />
  <p> <%= @user.username %> | <%= @image.date_posted.month %>/<%= @image.date_posted.day %>/<%= @image.date_posted.year %> </p>
  <br />
  <p>
    <a href="/images/<%= @image.id %>/edit" title="this image post"><span class="button" >   Edit  </span></a>
  </p>
  <h3> My Images </h3>


<form action="/images/<%= @image.id %>/delete" method="post">
  <input type="submit" value="Delete Image">
</form>

</div></center>
