{{#each posts}}
<div class='card' id='{{this.id}}'>
  <span class='remove'>X</span>
  <h4 class='title'>{{this.title}}</h4>
  <span>{{this.author}}</span>
  <div class="image">
    <img src="{{this.image_url}}" alt="">
  </div>
  <p class='content'>{{this.content}}</p>
  <a href="#" class='category'>{{this.category}}</a>
</div>
{{/each}}