<h4>All Movies</h4>

<% @search_results.each do |movie| %>
	<%= movie["Title"] %><br>
	<%= movie["Year"] %><br>
	<%= movie["Actors"] %><br>
	<%= movie["Plot"] %><br>
	<img src="<%= movie["Poster"] %>">

	<%= form_for @movie do |f| %>
		<%= f.hidden_field :title, :value => movie["Title"] %>
		<%= f.hidden_field :year, :value => movie["Year"] %>
		<%= f.hidden_field :plot, :value => movie["Plot"] %>
		<%= f.hidden_field :poster_url, :value => movie["Poster"] %>

		<%= f.hidden_field :actors, :value => movie["Actors"] %>
		<%= f.submit %>
	<% end %>
	<hr>
<% end %>


