<h2>New Song</h2>

<form action="/songs/<%= @song.id %>" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]" value="<%= @song.title %>">

<form action="/songs/<%= @song.id %>" method="post">
  <label for="song[album]">Album:</label>
  <input name="song[album]" value="<%= @song.album %>">

<form action="/songs/<%= @song.id %>" method="post">
  <label for="song[preview_url]">Preview URL:</label>
  <input name="song[preview_url]" value="<%= @song.preview_url %>">

<form action="/songs/<%= @song.id %>" method="post">
  <label for="song[price]">Price:</label>
  <input name="song[price]" value="<%= @song.price %>">

  <input type="submit" value="Create">
</form>
