<h2><%= @artists.name %></h2>
<%= image_tag(@artists.photo_url) %>
<div class="artist_info">
  <p>DOB: <%= @artists.birthday.to_formatted_s(:long_ordinal)  %>
    <br>
    Nationality: <%= @artists.nationality %>
    <br><br><br><br>
  </p>
</div>
click on the painting to find out more<br>
<%= link_to('Add New Painting', new_painting_path)  %>

<p><% @artists.paintings.each do |painting| %>

  <%= link_to image_tag(painting.img_url, :class => "artist_page"), painting_path(painting) %><br>
  <%= painting.title %> - <%= painting.year_painted %><br><br>
  <% end %>
</p>



<%= link_to('Back to Artists', artists_path) %>
<%= link_to('Edit', edit_artist_path(@artists)) %>
<%= link_to('Delete', artist_path(@artists), { method: :delete }) %>
