<h2><%= @pokemon.name %></h2>
<li>HP: <%= @pokemon.hp %><br>
<li>Attack:<%= @pokemon.attack %><br>
<li>Defense:<%= @pokemon.defense %><br>
<li>Speed:<%= @pokemon.speed %><br>
<img src="<%= @pokemon.img_url %>"><br>
<li>Classification: <%= @pokemon.classification %><br>
<li>Species:<%= @pokemon.species %><br>
<li>Height:<%= @pokemon.height %><br>
<li>Happiness:<%= @pokemon.happiness %><br>
<li>Moves: <%= @pokemon.moves %><br>
</li>
