<h2>Edit Player</h2>

<%= form_for @player do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :photo_url %>
  <%= f.text_area :photo_url %>
</div>
<div>
  <%= f.label :position %>
  <%= f.select :position, ['Goalkeeper', 'Defender', 'Midfielder', 'Forward'] %>
</div>
<div>
  <%= f.label :skill_level %>
  <%= f.text_field :skill_level %>
</div>
<div>
  <%= f.label :team %>
  <%= collection_select(:player, :team_id, Team.all, :id, :country) %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
