<h4><%= @painting.title %></h4>
<p><%= @painting.year_painted %>
<%= @painting.description%>
Artist: <%= link_to @painting.artist.name, artist_path(@painting.artist) %>
<img src="<%= @painting.img_url %>">
</p>
<%= link_to('Back to Paintings', paintings_path) %>
<%= link_to('Edit', edit_painting_path(@painting)) %>
<%= link_to('Delete', painting_path(@painting), { method: :delete }) %>
