<h4>ADD GROUP</h4>

<ul>
  <% @group.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@group) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>

  <%= f.submit %>
<% end %>

<%= link_to('BACK TO GROUPS', groups_path) %>
