<h6><a href="/pokemons">Back to Pokemon List</a></h6>

<h2><%= @pokemons.name %></h2>

<img src="<%= @pokemons.img_url %>">

<ul>
  <li>ID: <%= @pokemons.id %></li>
  <li>HP: <%= @pokemons.hp %></li>
  <li>Attack: <%= @pokemons.attack %></li>
  <li>Defense: <%= @pokemons.defense %></li>
  <li>Speed: <%= @pokemons.speed %></li>
  <li>Classification: <%= @pokemons.classification %></li>
  <li>Species: <%= @pokemons.species %></li>
  <li>Height: <%= @pokemons.height %></li>
  <li>Happiness: <%= @pokemons.happiness %></li>
  <li>Moves: <%= @pokemons.moves %></li>
</ul>
