<div class="product" id="<%= dom_id(product) %>">
  <h2 class="product_name"><%= product.name %></h2>
  <p class="product_price">
    Price: $<%= product.price %>
  </p>
  <p class="product_quantity">
    Quantity: <%= product.quantity %>
  </p>
  <p class="product_category">
    Category: <%= product.category %>
  </p>
</div>
