<%= link_to 'Back to movie', movie_actors_path(@movie) %>

<ul>
  <% @actor.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for [@movie, @actor] do |f| %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <div>
  <div>
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>
  </div>
  <%= f.submit %>

<% end %>
