<div id="title">
  <h2>Edit Tweed</h2>
</div>

<div id="forms">
  <%= form_for(@tweed) do |f| %>
    <%= f.label(:author) %>
    <%= f.text_field(:author) %><br>

    <%= f.label(:content) %>
    <%= f.text_field(:content) %><br>

    <%= f.label(:image_url) %>
    <%= f.text_field(:image_url) %><br>

    <%= f.submit %>
  <% end %>
</div>
