<!DOCTYPE html>
<html>
<head>
  <title>MovieTrailerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <style type="text/css">
  body {
    margin: 0px;
    background-color: #D7D7D7;
    color: #2F4F4F;
    font-family: 'Bree Serif', serif;
  }
  #main {
    width: 950px;
  }
  header {
    font-family: 'Pacifico', cursive;
    color: #3BB878;
    height: 120px;
    background: #2F4F4F;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  #header_content {
    width: 950px;
  }
  .content {
    width: 1000px;
    padding: 70px 50px;
  }
  h1 {
    font-size: 60px;
    padding: 25px;
    display: inline;
  }
  h2 {
    font-size: 30px;
    margin-top: 80px;
  }
  ul {
    list-style-type: none;
  }
  p {
    font-size: 20px;
  }
  img {
    max-height: 400px;
    border: 1px solid #2F4F4F;
  }
  a {
    color: #2F4F4F;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 10px;
  }
  header a {
    color: white;
    padding: 0px 5px;
    font-size: 20px;
    text-decoration: none;
  }
  a:hover {
    color: #3BB878;
    transition: 0.3s;
    margin-left: 15px;
  }
  header a:hover {
    margin-left: 10px;
  }
  .movie_poster {
    text-align: center;
    display: inline;
    float: left;
    margin: 5px;
  }
  .movie_poster a:hover{
    margin: 0px 10px;
  }
  .search_result {
    margin: 20px 0px;
  }
  .search_result_form{
    display: none;
  }
  </style>
</head>
<body>
  <div id="main">
    <header>
      <div id="header_content">
        <h1>Movie Trailer App</h1>
        <%= link_to('Home', root_path) %>
        <%= link_to('Movies', movies_path) %>
        <%= link_to('Actors', actors_path) %>
        <%= link_to('Trailers', trailers_path) %>
      </div>
    </header>
    <div class="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
