<h2>Edit Group</h2>

<ul>
  <% @group.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>
  <% end %>  
</ul>


<%=form_for(@group) do |f| %>
  <%= f.label (:name) %>
  <%= f.text_field (:name) %>
  <%= f.submit%>
<% end %>

<%= link_to 'Back to Groups', groups_path %>
<%= link_to 'Delete Group', group_path(@group), method: :delete %>
