<h2>Add Team</h2>

<ul>
  <% @team.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@team) do |f| %>
  <%= f.label(:country) %>
  <%= f.text_field(:country) %>

  <%= f.label(:flag_url) %>
  <%= f.text_field(:flag_url) %>

  <%= f.label(:manager_name) %>
  <%= f.text_field(:manager_name) %>

  <%= f.submit %>
  <% end %>

<div class="menu_buttons">
  <%= link_to('Back to Teams', teams_path) %>
</div>
