
<a href="/">Return to Home Page</a>

<ul>
    <li>
      <%= @pokemon.name %>
    </li>
    <li>
      <%= @pokemon.hp %>
    </li>
    <li>
      <%= @pokemon.attack %>
    </li>
    <li>
      <%= @pokemon.defense %>
    </li>
    <li>
      <%= @pokemon.speed %>
    </li>
    <li>
      <%= @pokemon.moves %>
    </li>
    <li>
      <%= @pokemon.moves %>
    </li>
    <li>
      <%= @pokemon.image %>
    </li>
    <li>
      <%= @pokemon.classification %>
    </li>
    <li>
      <%= @pokemon.species %>
    </li>
    <li>
      <%= @pokemon.height %>
    </li>
    <li>
      <%= @pokemon.happiness %>
    </li>
</ul>
