<h2><%= @playlist.name %></h2>

<ul>
  <% @playlist.songs.each do |song| %>
      <li>
        <%= link_to("#{song.title}", song_path(song)) %>
      </li>
  <% end %>
</ul>



<h3>Add Song by ID</h3>
<form action="<%= add_to_playlist_path(@playlist) %>" method = "post">
  <input name="song_id">
  <input type="submit">
</form>

<h3>Remove Song by ID</h3>
<form action="<%= remove_from_playlist_path(@playlist) %>" method = "post">
  <input name="song_id">
  <input type="submit">
</form>


<h3>Add Song by Title</h3>
<form action="<%= add_to_playlist_path(@playlist) %>" method = "post">
  <select name="song_id">
    <% Song.all.each do |song| %>
      <option value="<%= song.id%>">
        <%= song.title %>
      </option>
    <% end %>
  </select>
  <input type="submit">
</form>

<h3>Remove Song by Title</h3>
<form action="<%= remove_from_playlist_path(@playlist) %>" method = "post">
  <select name="song_id">
    <% Song.all.each do |song| %>
      <option value="<%= song.id%>">
        <%= song.title %>
      </option>
    <% end %>
  </select>
  <input type="submit">
</form>

<p> <%= link_to("Delete playlist", playlist_path(@playlist), {method: :delete}) %></p>
