<h2><%= @song.title %></h2>
<h3>By: <%= @song.artist.name %></h3>

Album: <%= @song.album %></br>
<div class="song_embed">
  <embed height="50" width="100" src="<%= @song.preview_url %>">
</div>
Preview_url: <%= @song.preview_url %></br>
Price: <%= @song.price %></br>
