<h2>New Artist</h2>

<br><br>
<form action="/artists/search" method="get">
  <label for="search">
    <input type="text" name='search' placeholder="search iTunes">
    <input type="submit" name="submit">
  </label>
</form>
<br><br>

<ul>
<% @artist.errors.full_messages.each do |msg| %>
  <li><%= msg %> </li>
<% end %>
</ul>

<%= form_for @artist do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :nationality %>
  <%= f.text_field :nationality %><br>
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %><br>
  <%= f.submit('create me') %>

<% end %>


<%= link_to('Back to Artists', artists_path) %>
