<h2>New Trailer</h2>

<%= link_to "Back to Trailers", trailers_path %>
<br>

<%= form_for @trailer do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>

    <%= f.label :embed_url %>
    <%= f.text_field :embed_url %>
    <br>

    <%= f.submit %>

<% end %>
