<h1>List of Users</h1>

<hr>
<div>
  <% @users.each do |user| %>
    <p>User ID: <%= user.id %></p>
    <p>Username: <%= user.username %></p>
    <p><%= "#{user.first_name} #{user.last_name}" %></p>
    <p><%= user.password_digest %></p>

    <% if session[:current_user] == user.id %>
      <p><%= link_to 'Edit', edit_user_path(user) %></p>
      <p><%= link_to 'Remove', user_path(user), method: :delete %></p>
    <% end %>

  <hr>
  <% end %>
</div>
