<!DOCTYPE html>
<html>
<head>
  <title>World Cup Fev.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> W O R L D  C U P  Fev.R</h1>
<p> <%= link_to("Back Home", home_path) %> </p>
<%= yield %>

</body>
</html>
