<%= link_to 'All Teams', teams_path %>
<h1><%= @team.country %></h1>

<p><%= link_to "Edit Team", edit_team_path(@team) %></p>
<!-- <p><%= link_to "Add New Team", teams_path(@team) %></p> -->


<% @team.players.each do |player| %>
  <div>
    <p><%=link_to player.name, player_path(player) %></p>
  </div>
<% end %>
