<html>
  <head>
  </head>
  <body>
    <h3><%= @team.country %>:</h3>
    <img src= "<%= @team.photo_url %>">
    <p>Group: <%= @team.group.name %></p>
    <p>Manager: <%= @team.manager_name %></p>
    <p>Players:</p>
    <% @team.players.each do |player|%>
    <ul>
      <li><%= link_to(player.name, player_path(player)) %></li>
    </ul>
      <% end %>

      <p><%= link_to("Edit this team", edit_team_path(@team)) %></p>
      <%= button_to("Delete this team", team_path(@team), {method: :delete}) %>
      <p> <%= link_to("Back to all teams.", teams_path) %> </p>

  </body>
</html>
