<h2><%= @pokemon.name %></h2>
<img src="<%= @pokemon.img_url %>">
<h3><%= @pokemon.img_url %></h3>
<h3>Attack:</h3>
<h3><%= @pokemon.attack %></h3>
<h3>Defense:</h3>
<h3><%= @pokemon.defense %></h3>
<h3>Speed:</h3>
<h3><%= @pokemon.speed %></h3>
<h3>Moves:</h3>
<h3><%= @pokemon.moves %></h3>
<h3>Classification:</h3>
<h3><%= @pokemon.classification %></h3>
<h3>Species:</h3>
<h3><%= @pokemon.species %></h3>
<h3>Height:</h3>
<h3><%= @pokemon.height %></h3>
<h3>Happiness:</h3>
<h3><%= @pokemon.happiness %></h3>

<a href="/pokemons">BACK</a>
