<h2>Edit Tweed</h2>

<form action="/tweeds/<%= @tweed.id %>" method="post">
  <label >Author:</label>
    <input name="tweed[author]" value="<%= @tweed.author %>">

  <label >Content:</label>
    <input name="tweed[content]" value="<%= @tweed.content %>">

  <label >Image Url:</label>
    <input name="tweed[image_url]" value="<%= @tweed.image_url %>">
    <input type="submit" value="Create">
</form>

<form action="/tweeds/<%= @tweed.id %>/delete" method="post">
  <input type="submit" value="Delete Tweed">
</form>
