<h2>Search Results</h2>

<% @results.each do |result| %>
<div>
  <h4><%= result['Title'] %></h4>
  <p><%= result['Year'] %></p>
  <%= form_tag('/add_new',method: :post) do |f| %>
    <%= hidden_field_tag :omdb_id_number, result['imdbID'] %>
    <%= submit_tag 'Add to Database' %>
  <% end %>
</div>
<% end %>
