<%= div_for(product) do %>
  <p class="name">
    <%=product.name %>
  </p>
  <p class="quantity">
    <%=product.quantity %>
  </p>
  <p class="price">
    <%=product.price %>
  </p>
  <p class="category">
    <%=product.category %>
  </p>
<% end %>
