<div class='painting'>
  <h5><%= @painting.title %></h5>
  <p>Artist: <%= link_to @painting.artist.name, artist_path(@painting.artist) %>
  <img src="<%= @painting.img_url %>">
  <%= link_to 'View', painting_path(@painting) %>
  <%= link_to 'Edit', edit_painting_path(@painting) %>
  <p><%= @painting.description %></p>
</div>