<h1>Tweed: <%= @tweed.content %></h1><br>
<h2>Tweeder: <%= @tweed.author %></h2><br>
<img src= "<%= @tweed.img_url %>"><br>
<h2>Created At: <%= @tweed.created_at %></h2>
<h2>Updated At: <%= @tweed.updated_at %></h2>


<form action="/tweeds/<%= @tweed.id %>/delete" method="post">
  <input type="submit" value="Delete Tweed">
</form>

<a href="/tweeds/<%= @tweed.id %>/edit">Edit Tweed</a>
<br>
<a href="/tweeds">Home</a>
