<h2><%= @song.title %></h2>
<h3><%= @song.album %></h3>
<a href="<%= @song.preview_url %>">Click Here</a>
<h3><%= @song.artist_id %></h3>
<h3><%= @song.price %></h3>

<form action="/playlists/<%= @playlist.id %>/delete" method="post">
  <input type="submit" value="Delete Playlist">
</form>
