<div class="product" id="<%= dom_id(product) %>">
  <h2><%= product.name %></h2>
  <p><%= product.quantity %></p>
  <p><%= product.price %></p>
  <p><%= product.category %></p>
  <p><%= product.quantity %></p>
</div>
