<h2>New Song</h2>

<!-- <form action="<%= songs_path %>" method="post">
  <label for="song[title]">Title:</label>
  <input name="song[title]">

  <label for="song[album]">Album:</label>
  <input name="song[album]">

  <label for="song[preview_url]">Preview URL:</label>
  <input name="song[preview_url]">

  <label for="song[artist_id]">Artist ID:</label>
  <input name="song[artist_id]">

  <label for="song[price]">Price (cents):</label>
  <input name="song[price]">

  <input type="submit" value="Create">
</form> -->
<ul>
<% @song.errors.full_messages.each do |song| %>
  <li><%= song %></li>
  <% end %>
</ul>


<%= form_for(@song) do |f| %>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>

  <%= f.label(:album) %>
  <%= f.text_field(:album) %>

  <%= f.label(:preview_url) %>
  <%= f.text_field(:preview_url) %>

  <%= f.label(:artist_id) %>
  <%= f.text_field(:artist_id) %>

  <%= f.label(:price) %>
  <%= f.text_field(:price) %>

  <%= f.submit %>

<% end %>

<%= link_to('Back to Songs', songs_path) %>
