<h2>Edit Actor</h2>

<ul>
  <% @actor.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>


<%= form_for(@actor) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>

  <%= f.label(:photo_url) %>
  <%= f.text_field(:photo_url) %>

  <%= f.label(:movie) %>
  <%= f.collection_select(:movie_id, Movie.all, :id, :title) %>


  <%= f.submit %>
<% end %>

<%= link_to("Back to #{@actor.name}", actor_path(@actor)) %>
<%= link_to('Delete', actor_path(@actor), {method: :delete}) %>
