<div>
  <img src="{{avatar}}" alt="">
  <h5>{{author}}</h5>
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <button class="edit" data-id={{id}}>Edit</button>
  <button class="destroy" data-id={{id}}>Delete</button>
</div>
