<h2> tweed editing </h2>


<%= form_for @tweeds do |f| %>
<%= f.label :author %>
<%= f.text_field :author %><br>

<%= f.label :content %>
<%= f.text_area :content %><br>

<%= f.label :image_url %>
<%= f.text_field :image_url %><br>

<%= f.submit('tweed!') %><br><br>
<% end %>
or..<br><br>

<%= link_to('DELETE', tweed_path(@tweeds), { method: :delete }) %>
