<% @tweeds.each do |tweed| %>

<div class="tweed">


  <a href="/tweeds/<%= tweed.id %>"><img src="<%= tweed.image_url %>"></a><br><br>
  <%= tweed.content %><br>
  <a href="/tweeds/<%= tweed.id %>">Posted by: <%= tweed.author %> on <%= tweed.created_at %>
  </a>

</div>
<% end %>
