
<table>
<tr>
  <td><img src="<%= @tweeds.image_url %>"></td>
</tr>
<tr>
  <td><%= @tweeds.content %></td>
</tr>
<tr>
  <td><%= @tweeds.author %></td>
</tr>
<tr>
  <td><%= @tweeds.created_at %></td>
</tr>
</table>
<br>
<%= link_to('click here to edit this tweed', edit_tweed_path(@tweeds)) %>
