<h2>New Team</h2>

<ul>
  <% @team.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@team) do |f| %>
  <%= f.label(:country) %>
  <%= f.text_field(:country) %>

  <%= f.label(:flag_url) %>
  <%= f.text_field(:flag_url) %>

  <%= f.label(:manager_name) %>
  <%= f.text_field(:manager_name) %>

  Group <%= f.select(:group_id, Group.all.collect { |a| [a.name, a.id]})%>

  <%= f.submit %>
<% end %>

<%= link_to('Back to All Teams', teams_path) %>
