<br><img src="<%= @pokemons.img_url %>"></img>
<h2><b><%= @pokemons.name %></b></h2>
<h4><b>HP:</b> <%= @pokemons.hp %></b></h6>
<h4><b>Attack:</b> <%= @pokemons.attack %> | <b>Defense:</b> <%= @pokemons.defense %> | <b>Speed:</b> <%= @pokemons.speed %></h6>
<p><b>Moves:</b> <%= @pokemons.moves %> </p>
<h4><b>Height: </b><%= @pokemons.height %> | <b>Happiness: </b><%= @pokemons.happiness %>
