<h2><%= @actor.name %></h2>
<img src="<%= @actor.photo_url %>">
<br>

<%= link_to('Back to Actors', actors_path) %> //
<%= link_to('Edit', edit_actor_path(@actor)) %> //
<%= link_to('Delete', actor_path(@actor), { :method => :delete }) %>
