<h2><%= @pokemon.name %></h2>
<img src="<%= @pokemon.img_url %>">
<ul>
  <li>HP: <%= @pokemon.hp %></li>
  <li>Attack: <%= @pokemon.attack %></li>
  <li>Defense: <%= @pokemon.defense %></li>
  <li>Speed: <%= @pokemon.speed %></li>
  <li>Moves: <%= @pokemon.moves %></li>
  <li>Classification: <%= @pokemon.classification %></li>
  <li>Species: <%= @pokemon.species %></li>
  <li>Height: <%= @pokemon.height %></li>
  <li>Happiness: <%= @pokemon.happiness %></li>
</ul>
<a href="/pokemons">Take me back to the Pokemons</a>
