<!DOCTYPE html>
<html>

<head>
  <title>MovietrailerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>Movie Night!</h1>

  <%= link_to("Movies", movies_path) %>
  <%= link_to("Actors", actors_path) %>
  <%= link_to("Trailers", trailers_path) %>

  <%= yield %>

</body>

</html>
