<h2>Tweeds</h2>

<%= link_to("Submit a new Tweed!", new_tweed_path)%>

<ul>
  <% @tweeds.each do |tweed| %>
    <h2><%= link_to(tweed.content, tweed_path(tweed)) %></h2><br>
    <h4><%= tweed.author %><br>
    <img src="<%= tweed.image_url%>" height="400" width="450">
    <h5><%= tweed.timestamp %></h5>
  <%end%>
</ul>
