<ul>
  <% @user.errors.full_messages.each do |error_msg| %>
    <li class="errors"><%= error_msg %></li>
  <% end %>
</ul>

<%= form_for @user do |f| %>
  <div class="input">
  <%= f.label :username %>
  <%= f.text_field :username %>
  </div>  

  <div class="input">
  <%= f.label :password %>  
  <%= f.text_field :password %>
  </div>
 
  <div class="input">
  <%= f.label :password_confirmation %>  
  <%= f.text_field :password_confirmation %>
  </div>

  <div class="input">
  <%= f.label :first_name %>  
  <%= f.text_field :first_name %>
  </div>

  <div class="input">
  <%= f.label :last_name %>  
  <%= f.text_field :last_name %>
  </div>

  <%= f.submit %>
<% end %>
