<h4><%= @artist.name %></h4>
<h4><%= @artist.nationality %></h4>
<img src="<%= @artist.photo_url %>">

<ul>
  <% @artist.paintings.each do |p| %>
    <li><img src="<%= p.img_url %>"></li>
    <li><%= p.title %></li>
  <% end %>
</ul>

<%= link_to('Back to Artists', artists_path) %>
<%= link_to('Edit', edit_artist_path(@artist)) %>
<%= link_to('Delete', artists_path(@artists), { method: :delete }) %>
