<div class="close-modal">
  <span class="close-modal">X</span>
</div>
<div>
  <div class="modal-image">
    <img src="{{poster_url}}" />
  </div>
  <div class="modal-info">
    <h2>{{title}}</h2>
    <h3>{{year}}</h3>
    <h4>Genre</h4>
    <p>{{genre}}</p>
    <h4>Plot</h4>
    <p>{{plot}}</p>
  </div>
</div>
