<h2>New Actor</h2>

<%= link_to "Back to Actors", actors_path %>
<br>

<%= form_for @actor do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>

    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
    <br>

    <%= f.submit %>

<% end %>
