<h2><%= @pokemon.name %></h2>
<h3><%= @pokemon.species %></h3>
<img src="<%= @pokemon.img %>">


<p><%= @pokemon.hp %></p>
<p><%= @pokemon.attack %></p>
<p><%= @pokemon.defense %></p>
<p><%= @pokemon.speed %></p>
<p><%= @pokemon.moves %></p>
<p><%= @pokemon.classification %></p>
<p><%= @pokemon.height %></p>
<p><%= @pokemon.happiness %></p>
