<h3><%= @pokemon.name %></h3>
<img src="<%= @pokemon.img %>">
<h4>HP:</h4>
<p><%= @pokemon.hp %></p>
<h4>ATTACK:</h4>
<p><%= @pokemon.attack %></p>
<h4>DEFENSE:</h4>
<p><%= @pokemon.defense %></p>
<h4>SPEED:</h4>
<p><%= @pokemon.speed %></p>
<h4>MOVES:</h4>
<p><%= @pokemon.moves %></p>
<h4>CLASSIFICATION:</h4>
<p><%= @pokemon.classification %></p>
<h4>SPECIES:</h4>
<p><%= @pokemon.species %></p>
<h4>HEIGHT:</h4>
<p><%= @pokemon.height %></p>
<h4>HAPPINESS:</h4>
<p><%= @pokemon.happiness %></p>
