<div class="movie-poster">
  <img src="{{poster_url}}" />
</div>
<div class="movie-info">
  <p>
    {{title}} ({{year}})
  </p>
  <p>
    {{genre}}
  </p>
  <p>
    {{plot}}
  </p>
  <p/>
   {{imdbID}}
  </p>
</div>
