<h2>Edit <%= @group.name %></h2>

<ul>
  <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>


<%= form_for(@group) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>

  <%= f.submit %>
<% end %>

<%= link_to("Back to #{@group.name}", group_path(@group)) %>
<%= link_to('Delete', group_path(@group), {method: :delete}) %>
