<img src="<%= @tweed.image_url %>">
<h2><%= @tweed.content %></h2>
<h3><%= @tweed.author %></h3>
<h4><%= @tweed.created_at %></h4>
<h5><a href="/tweeds/<%= @tweed.id %>/edit">Edit Tweed</a></h5>
<form action="/tweeds/<%= @tweed.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
<h6><a href="/tweeds">Back to Tweeds</a></h6>
