<h2><%= @pokemon.name %></h2>

<img src= "<%= @pokemon.img_url %>">

<h4>ID: <%= @pokemon.id %></h4>
<h4>Name: <%= @pokemon.name %></h4>
<h4>HP: <%= @pokemon.hp %></h4>
<h4>Attack: <%= @pokemon.attack %></h4>
<h4>Defense: <%= @pokemon.defense %></h4>
<h4>Speed: <%= @pokemon.speed %></h4>
<h4>Moves: <%= @pokemon.moves %></h4>
<h4>Classification: <%= @pokemon.classification %></h4>
<h4>Species<%= @pokemon.species %></h4>
<h4>Height<%= @pokemon.height %></h4>
<h4>Happiness<%= @pokemon.happiness %></h4>
