<h3><%= @trainer.name %></h3>
<h4>AGE:</h4>
<p><%= @trainer.age %></p>
<h4>HOMETOWN:</h4>
<p><%= @trainer.hometown %></p>
<% if @pokemons.length == 0 %>
  <form action="/trainers/<%= @trainer.id %>/add" method="post">
    <input type="submit" value="ADD POKEMON">
  </form>
<% else %>
  <h4>POKEMONS:</h4>
    <ul>
      <% @pokemons.each do |pokemon| %>
      <li>
          <%= pokemon.name %>
      </li>
      <% end %>
    </ul>
<% end %>
<form action="/trainers/<%= @trainer.id %>/edit" method="get">
  <input type="submit" value="EDIT TRAINER">
</form>

<form action="/trainers/<%= @trainer.id %>/delete" method="post">
  <input type="submit" value="DELETE TRAINER">
</form>
