<h2>New Painting</h2>

<%= form_for (@painting) do |f| %>
  <%= f.label(:img_url) %>
  <%= f.text_field(:img_url) %>

  <%= f.label(:title) %>
  <%= f.text_field(:title) %>

  <%= f.label(:year_painted) %>
  <%= f.text_field(:year_painted) %>

  <%= f.label(:description) %>
  <%= f.text_field(:description) %>

  <% artist_array = Artist.all.map {|artist| [artist.name, artist.id]} %>
  <%= f.select(:artist_id, artist_array) %>

  <%= f.submit %>
<% end %>
