
<h1><%= @pokemon.name %></h1><br>
<img src="<%= @pokemon.img %>"><br>
<p><%= @pokemon.id %></p>
<p><%= @pokemon.species %></p>
<p><%= @pokemon.classification %></p>
<p><%= @pokemon.hp %></p>
<p><%= @pokemon.speed %></p>
<p><%= @pokemon.attack %></p>
<p><%= @pokemon.defense %></p>
<p><%= @pokemon.moves %></p>
<p><%= @pokemon.height %></p>
<p><%= @pokemon.happiness %></p>
