<div class="hoot" id="<%= dom_id(hoot) %>">
  <p class="content">
    <%= hoot.content %>
  </p>
  <p class="author">
    <%= hoot.author %>
  </p>
  <p class="links">
    <%= link_to 'Edit', edit_hoot_path(hoot), remote: true, method: :get %> |
    <%= link_to 'Delete', hoot_path(hoot), remote: true, method: :delete %>
  </p>
</div>
