<h1>Movies List</h1>
<%= form_tag('/search', method: 'get') do %>
  <%= search_field_tag 'search' %>
  <%= submit_tag 'Search' %>
<% end %>
<%= link_to "Add a Movie", new_movie_path %>

<% @movies.each do |movie|%>
<div>
	<p><%= movie.title %></p>
	<p><%= movie.year %></p>
  <p><%= movie.plot %></p>
	<%= link_to image_tag(movie.poster_url), movie_path(movie) %>
</div>
<<<<<<< HEAD
<%end%> 
=======
<%end%>
>>>>>>> e0543d31a65439023d58cb7c2a06224f57e86f82
