<%= link_to 'Movie', movie_path(@movie) %>
<%= link_to 'Add Trailer', new_movie_trailer_path(@movie) %>

<% @trailers.each do |trailer| %>
	<div>
		<p><%= trailer.title %></p>
		<iframe id="ytplayer" type="text/html" width="640" height="390"
    src="<%= trailer.embed_url %>"
    frameborder="0"></iframe>
    <%= link_to 'Edit', edit_movie_trailer_path(trailer.movie.id,trailer.id) %>
  </div>
<% end %>