<h2><%= @pokemon.name %></h2>
<h3><%= @pokemon.hp %></h3>
<h4><%= @pokemon.attack %></h4>
<h5><%= @pokemon.defense %></h5>
<h6><%= @pokemon.speed %></h6>
<h7><%= @pokemon.moves %></h7>
<h8><%= @pokemon.img_url %></h8>
<h9><%= @pokemon.classification %></h9>
<h10><%= @pokemon.species %></h10>
<h11><%= @pokemon.height %></h11>
<h12><%= @pokemon.happiness %></h12>
<br>
<a href="/pokemons">Back To Index</a>
