<h2>Add New Movie</h2>
<ul>
  <% @movie.errors.full_messages.each do |err_msg| %>
  <li><%= err_msg %></li>
  <% end %>
</ul>

<div id="form">
  <%= form_for @movie do |f| %>
  Title: <%= f.text_field(:title) %></br>
  Year: <%= f.number_field(:year) %></br>
  Poster url: <%= f.url_field(:poster_url) %></br>
  Plot: <%= f.text_field(:plot) %></br>
  <%= f.submit %>
</div>
  <% end %>
