<html>
  <head>
  </head>
  <body>
    <h3>Enter new group's name below: <h3>

      <%= form_for @group do |f| %>

      <%= f.label(:name) %>
      <%= f.text_field(:name) %>

      <%= f.submit %>
      <% end %>

      <p><%= link_to("Back to all groups.", groups_path) %></p>

  </body>
</html>
